@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row">
            <span>Cortihan, Tapilon, Daanbantayan</span>
        </div>
        <article class="content">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    Something went wrong.
    <a href="." class="reload">Reload</a>
    <a class="dismiss">×</a>
</div>