@namespace Portfolio.Components.Layout
@using Microsoft.AspNetCore.Components.Routing

<div class="nav-header">
    <a class="brand" href="/">C.A.</a>
</div>

<div class="nav-links">
    <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">Home</NavLink>
    <NavLink class="nav-link" href="/about">About</NavLink>
    <NavLink class="nav-link" href="/education">Education</NavLink>
    <NavLink class="nav-link" href="/projects">Projects</NavLink>
    <NavLink class="nav-link" href="/contact">Contact</NavLink>
</div>